<!-- <%- include('partials/header') %> -->

<div class="container">
    <form action="/properties" method="POST">
        <div class="form-group col-md-2">
            <label>Title</label>
            <input type="text" id="title" name="title" class="form-control">
        </div>
        <div class="form-group col-md-2">
            <label>Street</label>
            <input type="text" id="street" name="street" class="form-control">
        </div>
        <div class="form-group col-md-2">
            <label>City</label>
            <input type="text" id="city" name="city" class="form-control">
        </div>
        <div class="form-group col-md-2">
            <label>State</label>
            <input type="text" id="state" name="state" class="form-control">
        </div>
        <div class="form-group col-md-2">
            <label>Country</label>
            <input type="text" id="country" name="country" class="form-control">
        </div>
        <div class="form-group col-md-2">
            <label>Image name</label>
            <input type="text" id="image" name="image" class="form-control">
        </div>

        <div class="form-group col-md-2">
            <label>Desc</label>
            <textarea id="desc" name="desc" class="form-control">
    </textarea>
        </div>
        <div class="form-group col-md-2">
            <button type="submit" id="add" class="btn btn-outline-dark">Add Property</button>
        </div>

    </form>


</div>


<!-- <%- include('partials/footer') %> -->